body{
    background-image: url(bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  
   
    }
.jumbotron{
    opacity: 0.5;
    font-family: 'Prompt', sans-serif;
    
}
.name{
    font-size: 50px;
}

.btn {
    opacity: 0.8;
    font-family: 'Prompt', sans-serif;
}

.btn-f {
    opacity: 0.9;
    font-family: 'Prompt', sans-serif;
}
#gif-input{
    background-color: grey;
    opacity: 0.8
}

.card{
    background-color: rgba(91, 192, 222, 0.7);
}
